#city-page {
    height: 100%;
    width:638px; /* considering borders */
}

#city-page > div {
    position: relative
}

.city-gallery-button {
    height: 46px;
}

#city-yesterday {
    padding-top: 30px;
    padding-left: 25px;
}

#city-today {
    width: 100%;
    padding-top: 18px;
}

#e-today-btn-hover {
    margin-left:300px;
}

#i-today-btn-hover {
    margin-left:340px;
}

.city-gallery-button img {
    display: none;
}

.city-gallery-button:hover > img {
    display: block;
}

#city-north {
    height:92px;
    width: 100%;
}

#city-center {
    height: 290px;
    width: 100%;
}

#city-south {
    height:93px;
    width: 100%;
}

#city-text-wrapper {
    margin-left: 25px;
    float:left;
}

#city-text {
    width: 553px;
    height: 274px;
    padding-top: 3px;
    text-align: left;
    font-family: "Times New Roman", Times;
    font-size: 14px;
    font-weight: normal;
    overflow-y: scroll;
    word-wrap: normal;
    word-spacing: 0.5px;
}

#city-text-scroll-wrapper {
    float: left;
    width: 45px;
    height: 100%;
    position: relative;
}

#city-text-scroll {
    position: absolute;
    bottom:10px;
    right:0;
    width: 15px;
}

#city-text-scroll img {
    display: block;
    padding: 2px;
    margin: 0px;
}